---
import Layout from '../layouts/Layout.astro';
import Editor from '../components/Editor.astro';
import HeadBar from '../components/HeadBar.astro';
import TypedHeader from '../components/TypedHeader.astro';
import Slider from '../components/Slider.astro';
import LangCard from '../components/LangCard.astro';
import ProjectCard from '../components/ProjectCard.astro';
const coverSrc = "https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1471&amp;q=80"
---

<Layout title="Welcome to Astro.">
	<main class="pb-96">
    <HeadBar />
	  <TypedHeader />
    <div class="my-12">
      <Slider>
        <!-- Languages and Frameworks -->
        <LangCard icon="go-plain" />
        <LangCard icon="javascript-plain" />
        <LangCard icon="typescript-plain" />
        <LangCard icon="dart-plain" />
        <LangCard icon="rust-plain" />
        <LangCard icon="lua-plain" />
        <LangCard icon="tailwindcss-plain" />
        <LangCard icon="storybook-plain" />
        <LangCard icon="flutter-plain" />
        <LangCard icon="vuejs-plain" />
        <LangCard icon="nextjs-original" />
        <LangCard icon="svelte-plain" />
      </Slider>
      <Slider reverse>
        <LangCard icon="postgresql-plain" />
        <LangCard icon="mongodb-plain" />
        <LangCard icon="docker-plain" />
        <LangCard icon="kubernetes-plain" />
        <LangCard icon="k3s-plain" />
        <LangCard icon="neo4j-plain" />
        <LangCard icon="terraform-plain" />
        <LangCard icon="googlecloud-plain" />
        <LangCard icon="github-original" />
      </Slider>
    </div>
    <div class="mb-12 grid grid-cols-3 gap-12 container mx-auto">
      <ProjectCard coverSrc="/portfolio3/cover/wp.jpg" title="WhitePawn" />
      <ProjectCard coverSrc="/portfolio3/cover/ptcloud.png" title="PawnTown Cloud" />
      <ProjectCard coverSrc="/portfolio3/cover/myvoiz.png" title="MyVoiz" />
      <ProjectCard coverSrc={coverSrc} title="test" />
      <ProjectCard coverSrc={coverSrc} title="test" />
      <ProjectCard coverSrc={coverSrc} title="test" />
    </div>
		<Editor />
	</main>
</Layout>

<script>
import VanillaTilt from 'vanilla-tilt';
const elements = document.querySelectorAll("[data-tilt]");
VanillaTilt.init([...elements] as HTMLElement[]);
</script>

<style>
@media screen and (max-width: 570px) {
  h1 {
    font-size: 16px !important;
  }
  p {
    font-size: 12px !important;
  }

  p.hello-text {
    font-size: 14px !important;
  }

  .social > a {
    font-size: 22px !important;
  }
}

h1 {
  margin: 0;
  letter-spacing: 5px;
  font-weight: normal;
}

p {
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 14px;
}

.hello-hw {
  width: 100px;
  height: 40px;
  background-image: url(/img/hello_white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  margin: 30px 0 16px 0;
}

.hello-text {
  color: #fffffa7c;
  /* text-align: justify; */
  font-size: 18px;
  line-height: 1.6;
}

.social {
  display: flex;
}

.social > a {
  color: #B75D69;
  margin: 12px 18px 12px 4px;
  font-size: 24px;
}

a {
  color: #B75D69;
  text-decoration: none;
}
</style>
