---
import Window from './Window.astro';

interface Props {
}

const {} = Astro.props;
---

<Window title="portfolio.yaml">
	<div id="container" class="h-full">
	</div>
</Window>

<script>
import * as monaco from "monaco-editor";
var editor = monaco.editor.create(document.getElementById("container") as HTMLElement, {
	value: "// First line\nfunction hello() {\n\talert('Hello world!');\n}\n// Last line",
	language: "javascript",
	lineNumbers: "off",
	roundedSelection: false,
	scrollBeyondLastLine: false,
	readOnly: false,
	theme: "hc-light",
	scrollbar: {
		handleMouseWheel: false
	}
});

editor.onDidFocusEditorText(() => {
	editor.updateOptions({
		scrollbar: {
			handleMouseWheel: true
		}
	});
});

editor.onDidBlurEditorText(() => {
	editor.updateOptions({
		scrollbar: {
			handleMouseWheel: false
		}
	});
});
</script>