---
import Window from './Window.astro';

interface Props {
}

const {} = Astro.props;
---

<Window title="portfolio.yaml">
	<div id="container" class="h-full">
	</div>
</Window>

<script>
import * as monaco from "monaco-editor";
import portfolio from "../data/portfolio.json";
var editor = monaco.editor.create(document.getElementById("container") as HTMLElement, {
	value: portfolio.content,
	language: "yaml",
	lineNumbers: "on",
	roundedSelection: false,
	scrollBeyondLastLine: true,
	readOnly: false,
	theme: "vs-dark",
	scrollbar: {
		handleMouseWheel: false,
	}
});

editor.onDidFocusEditorText(() => {
	editor.updateOptions({
		scrollbar: {
			handleMouseWheel: true
		}
	});
});

editor.onDidBlurEditorText(() => {
	editor.updateOptions({
		scrollbar: {
			handleMouseWheel: false
		}
	});
});
</script>