---
import { BackgroundBeams } from './react/BackgroundBeams';
import { LampReveal } from './react/LampReveal';
---

<div class="h-52 mx-24 bg-background0 dark:bg-black/80 relative flex flex-col items-center justify-center antialiased">
    <BackgroundBeams />
</div>
