<div class="headbar">
  <a href="/"><div class="name"></div></a>
</div>

<style>
.headbar {
  max-width: 1400px;
  width: 100vw;
  padding: 37px 37px;
  margin: 0 auto;
  box-sizing: border-box;
}

.name {
  width: 120px;
  height: 20px;
  background-image: url(/img/name.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  filter: grayscale(1);
}

.name:hover {
  filter: grayscale(0);
}
</style>
