---
import ThemeToggle from './ThemeToggle.astro';
---

<div class="container mx-auto mb-16 py-8 flex justify-between dark:text-white text-background0 transition-colors ease-in">
  <a href="/">khad.im</a>
  <ThemeToggle />
</div>