---
import 'devicon/devicon.min.css';
import DevIcon from './DevIcon.astro';

interface Props {
    icon: string;
}

const { icon } = Astro.props;
---

<div class="w-36 h-36 text-8xl text-white/45 flex justify-center items-center">
    <DevIcon icon={icon} />
</div>