---
import 'devicon/devicon.min.css';
import DevIcon from './DevIcon.astro';

interface Props {
    icon: string;
}

const { icon } = Astro.props;
---

<div class="w-36 h-36 text-8xl dark:text-white/45 text-background0/25 transition-colors ease-in flex justify-center items-center">
    <DevIcon icon={icon} />
</div>