---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div data-tilt data-tilt-reverse="true" data-tilt-max="1" class="container mx-auto h-[800px] bg-background0 rounded-lg overflow-hidden shadow-md">
    <div class="flex justify-between items-center bg-background3">
        <div class="flex p-2 w-32">
            <div class="h-3 w-3 rounded-full bg-slate-900 m-1"></div>
            <div class="h-3 w-3 rounded-full bg-slate-900 m-1"></div>
            <div class="h-3 w-3 rounded-full bg-slate-900 m-1"></div>
        </div>
        <h1 class="text-lg text-slate-900">{title}</h1>
        <div class="flex p-2 w-32"></div>
    </div>
    <slot />
</div>
